/* Conteiner */
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 /* Conteiner categories */
.products{
    text-align: center;
    margin: 10vh;
}
.box-product{
    display: inline-block;
    margin: 100px;
    width: 25%;
    margin: 0;
    text-align: center;
}
.box-product img{
    width: 100%;
}
.box-product a{
    font-size: 24px;
}
.box-product a:hover{
    color:rgb(0, 0, 112);
    text-decoration: underline;
}
