/* BODY */
body{
    margin: 0px;
}
:hover{
    transition: background-color 0.25s ease-out;
}
/* HEADER */
#header{
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}
#main-header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: sticky;
    font-size: 1em;
    /* display: flex;
    justify-content: space-between; */
}
#main-header .list-inline{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#main-header .list-inline li{
    padding: 20px min(20px, 1vw);
}
#header-search{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    max-width: 50vw;
}
#header-search i{
    margin-right: 7px;
}
#search-text{
    width: 100%;
    max-width: 25vw;
    border: none;
}
#search-text:focus{
    outline: none;
}
#header-name{
    flex: 1;
    display: flex;
    justify-content: center;
}
#header-account{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#header-account li{
    height: 100%;
}
#header-account li:hover{
    background-color: rgb(180, 180, 180);
}
#bar-header a{
    color:white;
}
#bar-header{
    position: sticky;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #BF8CFF;
}
#bar-header .list-inline{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#bar-header li{
    box-sizing: border-box;
    padding-left: min(35px, 5vw);
    padding-right: min(35px, 5vw);
    height: 100%;
    white-space: nowrap;
}
#bar-header li:hover{
    background-color: #9971ca;
}
/* Lists */
.list-inline{
    list-style-type: none;
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
.list-inline li{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
/* Select */
select{
    border:0px;
    outline:0px;
}
/* Links */
a{
    color:black;
    text-decoration: none;
}
/* FOOTER */
#footer{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: max-content;
    background-color: #BF8CFF;
}
#footer-info{
    max-height: 100%;
}
.fa-github{
    max-width: max-content;
    max-height: max-content;
    margin: 20px auto 0px auto;
    font-size:48px;
    text-align: center;
    display: block;
}
#footer p{
    text-align: center;
    margin-top: 0px;
}
