/* Start of Product page stylization */

#container::before, #container::after {
    display:table;
}
#container::after {
    clear: both;
}

#container {
    box-sizing:border-box;
}
/* Start of Image/Tecnical-description/Buy-options block */
#product-entry {    
    width: 95vw;
    height:60vh;
    margin:100px auto;

    border-style:solid;
}

#product-image {
    /*position:fixed;*/
    float:left;
    width:40%;
    margin:0px 0px 0px 0px;    

    border-style:solid;
}

#product-entry-description {
    /*position:fixed;*/
    float:left;
    border-style:solid;
    /*margin:-20px auto 0 37vw;*/
    text-align:center;
    /*left:520px;*/
    width:40vw;
    height:49vh;
}

#product-price {
    /*position:fixed;*/
    /*left:750px;*/
    float:right;
    width:200px;
    height:220px;
    margin:auto 10px auto auto;   
    padding:10px 10px 10px 10px;
    text-align:center;
    
    border-style:solid;
    border-width:1px;
    border-radius:50px;
}/*
div.box {
	display: inline-block;
}*/

#price {
    font-size:30px;
}

#button-addCart {
    width:200px;
    height:50px;
    background-color:#c54556;
    color:white;
    border-radius:10px;
}
/* End of Image/Tecnical-description/Buy-options block */


/* Start of Description block */
#product-description {
    width:600px;    
    margin:0px auto;
    border-style:solid;

    font-size:150%;
}
/* End of Description block */

/* Start of Review block */
#product-review {
    width:600px;
    margin:0 auto 200px auto;
    border-style:solid;
}

.review {
    background-color:rgb(202, 202, 190);
    margin-bottom:5px;
    font-size:150%;

    border-style:ridge;
    border-radius:15px;
}

.img-review {
    width:5%;
}
/* End of Review block */

/* End of Product page stylization */