/* Start of Product page stylization */

#container::before, #container::after {
    display:table;
}
#container::after {
    clear: both;
}

#container {
    box-sizing:border-box;
}
/* Start of Image/Tecnical-description/Buy-options block */
#product-entry {    
    width: 95vw;
    height:60vh;
    margin:100px auto;

    border-style:solid;
}
/* Start of the Image block in the left float*/
#product-image {
    float:left;
    width:40%;
    margin:auto;    

    border-style:solid;
}
/* End of Image in the left float*/

/* Start of the Entry Description in the center float*/
#product-entry-description {    
    float:left;
    width:35vw;
    height:49vh;
    border-style:solid;
    text-align:center;

}
#review-average{
    border-style:ridge;
    border-radius:5px;
    margin-left:7.5vw;
    border-width:1px;
    width:20vw;
    height:2vh;
}

#img-review-average {
    width:1vw;
}

/* End of the Entry Description in the center float*/

/* Start of the Price block in the right float*/
#product-price {
    float:right;
    width:12.5vw;
    height:30vh;

    margin:auto 20px auto auto;   
    text-align:center;
    
    border-style:solid;
    border-width:1px;
    border-radius:50px;
}

#price {
    font-size:30px;
}

#button-addCart {
    width:10vw;
    height:5vh;
    background-color:#c54556;
    color:white;
    border-radius:10px;
}
/* End of the Price block in the right float*/
/* End of Image/Tecnical-description/Buy-options block */


/* Start of Description block */
#product-description {
    width:75vw;    
    margin:0px auto;
    border-style:solid;

    font-size:150%;
}

#description {
    color:rgba(57, 56, 58, 0.822);
}
/* End of Description block */

/* Start of Review block */
#product-review {
    width:75vw;
    margin:0 auto 200px auto;
    border-style:solid;
}

.review {
    background-color:rgb(202, 202, 190);
    margin-bottom:5px;
    font-size:150%;

    border-style:ridge;
    border-radius:15px;
}

.review.name {
    text-align:left;
    font-weight:bold;
    font-size:100%;

    
}

.img-review {
    width:5%;
}
/* End of Review block */

/* End of Product page stylization */