.container-admin {
    margin: 10% auto;
    width: 100%;
    height: min-content;
    display: block;
}
.denied {
    text-align: center;
    color:red;
}
#statistics {
    width: 60vw;
    height: 500px;
    display: block;
    margin: 10vh auto;
}

.stat-box {
    background-color: #BF8CFF;
    width: 22vw;
    height: 20vh;
    text-align: center;
    font-size: max(1em, 1.5vw);
    font-weight: bold;
    border: none;
    margin: 5%;
}

.stat-box:active {
    background-color: #9971ca;
    transition: background-color linear 0s;
}

#user-count {
    float: left;
}

#product-coadminunt {
    float: right;
}

#admin-count {
    float: left;
}

#sale-count {
    float: right;
}

#list-display {
    margin: 50px auto;
    width: 60vw;
    height: min-content;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    min-width: 3vw;
}