/* Conteiner */
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15vh;
}
/* Image category display */
#feature-category{
    margin: 2% auto;
    width: 70%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: stretch;
}
.feature-img{
    /* width: 100%;
    max-height: 100%;
    background-color: black; */
    width:  100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slogan{
    background-color: rgb(204, 204, 204);
    min-width: 241px;
    min-height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#slogan-text{
    background-color: rgb(231, 231, 231);
    width: 80%;
    height: 50%;
    text-align: center;
    padding: 5%;
}
#slogan-text h2{
    text-align: center;
}
#slogan-text button{
    background-color: #9971ca;
    color:white;
    border:none;
    border-radius: 20px;
    font-size: 1.5rem;
    margin: 0 auto;
    display: block;
}
.btn-change-page{
    border: none;
    font-size: 30px;
    position: absolute;
    bottom:50%;
}
#right-button{
    right: 0;
}
#left-button{
    left: 0;
}
/* Separate flex line */
.break {
    flex-basis: 100%;
    height: 0;
}
 /* Conteiner categories */
.categories{
    text-align: center;
}
.box-product{
    width: 30%;
    text-align: center;
    display:inline-block;
}
.box-product img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}
.box-product a{
    font-size: 24px;
}
.box-product a:hover{
    color:rgb(0, 0, 112);
    text-decoration: underline;
}

.btn-change-page:hover {
    cursor: pointer;
}