/* Conteiner */
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:10%;
}
/* Image category display */
#feature-category{
    margin: 2% auto;
    /* max-width: 60%; */
    width: 60%;
    height: 30%;
    text-align: center;
    position: relative;
    display: flex;
    /* background-color: black; */
}
#feature-category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slogan{
    background-color: rgb(204, 204, 204);
    min-width: 241px;
    min-height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#slogan-text{
    background-color: rgb(231, 231, 231);
    width: 80%;
    height: 50%;
    text-align: center;
    padding: 5%;
}
#slogan-text h2{
    text-align: center;
}
#slogan-text button{
    background-color: #9971ca;
    color:white;
    border:none;
    border-radius: 20px;
    font-size: 1.5rem;
    margin: 0 auto;
    display: block;
}
.btn-change-page{
    border: none;
    font-size: 30px;
    position: absolute;
    bottom:50%;
}
#right-button{
    right: 0;
}
#left-button{
    left: 0;
}
/* Separate flex line */
.break {
    flex-basis: 100%;
    height: 0;
}
 /* Conteiner categories */
.categories{
    text-align: center;
}

.box-product{
    display: inline-block;
    margin: 100px;
    width: 25%;
    margin: 0;
    text-align: center;
}
.box-product img{
    width: 100%;
}
.box-product a{
    font-size: 24px;
}
.box-product a:hover{
    color:rgb(0, 0, 112);
    text-decoration: underline;
}
