#container {
    width: 60vw;
    height: max-content;
    position:relative;
    margin: 150px auto;
    padding: 115vh auto;
    background-color:rgb(248, 153, 248);

    text-align:center;

    border-style:solid;    
    border-color:rgb(139, 0, 132);
    border-width:2px;
    border-radius:10px;
}


#register-box {
    height: max-content;
    width: 35vw;
    background-color:rgb(231, 231, 231);

    margin: 30px auto;
    padding-left:30px;

    border-width:2px;
    border-radius:10px;

    text-align:left;

    border-style:solid;    
    border-color:rgb(139, 0, 132);
    border-width:2px;
    border-radius:10px;
}

h1 {
    padding-top: 10px;
    position:relative;
    left: -20px;
    
    text-align: center;
}

input {
    width: 30vw;
}

textarea {
    width: 30vw;
    height: 50px;
}


input[name="btn-submit"], input[name="price"] {
    width: 60px;
}

input[name="amount"] {
    width: 60px;
}