#container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}
#register-box{
    margin: auto;
    padding: 2vw 20vh;
    border: none;
    background-color: #FFC8C8;
    text-align: center;
    box-shadow: black 10px 10px;
}

#register-box h1{
    font-size: 1.5em;
}

#register-box h2{
    text-align: left;
    margin: 3px;
    font-size: 1em;
    font-weight: normal;
}

#register-box input{
    border: solid transparent;
}
.input-container{
    margin-bottom: 3vh;
}
p{
    margin:0;
    text-align: left;
}
.error{
    visibility: hidden;
    color: red;
}